{% extends "blog_ui/base.html" %}
{% load rest_framework %}

{% block page_content %}
  <h2>{{ post.title }} {% if post.status == 'draft' %}<i>(not published)</i>{% endif %}</h2>
  <p>{{ post.body }}</p>

  {% if request.user.id == post.owner.id %}
    <div>
      <a href="/posts/{{ post.id }}/edit/">Edit</a>
      <a href="/posts/{{ post.id }}/delete/">Delete</a>
    </div>
  {% endif %}

  {% if post.status == "published" %}
    <h2>Comments</h2>
    {% if post.comments %}
      <p>{{ post.comments|length }} comments</p>
    {% else %}
      <p>No comments yet</p>
    {% endif %}
    <ul>
      {% for comment in post.comments %}
        <li><b>{{ comment.owner }}</b> commented:</li>
        <ul>
          <li>{{ comment.body }}</li>
        </ul>
      {% endfor %}
    </ul>
    
    {% if request.user.is_authenticated %}
      <form action="/posts/{{ post.id }}/comment/" method="post">
        {% csrf_token %}
        <input type="hidden" name="post" value="{{ post.id }}">
        <div class="form-group">
          <label for="">New Comment</label>
          <textarea name="body" id="comment-body"></textarea>
        </div>
        <button type="submit">Comment</button>
      </form>
    {% endif %}
  {% endif %}

{% endblock %}

