{% extends "blog_ui/base.html" %}
{% load rest_framework %}

{% block page_content %}
    <form method="post" action="/posts/{{ post_serializer.data.id }}/edit/">
        {% csrf_token %}
        {% render_form post_serializer %}
        {% if post_serializer.data.status == 'published' %}
            <button type="submit">Update post</button>
        {% else %}
            <button type="submit" name="status" value="published">Publish</button>
            <button type="submit" name="status" value="draft">Save as draft</button>
        {% endif %}
    </form>
{% endblock %}